<%layout temp %>
<%inc
    #include "struct_declaration.hpp"
    #include "System/utils.h"
    #include <tuple>
%>
<%c++
    auto user = @@.get<::User>("User");
%>
<div class="main-content box-decor padding-content">
    <h2>Конструктор статей</h2>

    <form class="dialog wide" action="/api/ref/article/" method="POST">

        <label for="header">Заголовок статьи:</label>
        <input type="text" name="header" id="header" placeholder="Введите заголовок" required>

        <label for="banner">Баннер статьи:</label>
        <input type="number" name="banner" id="banner" placeholder="Введите id баннер статьи" required>

        <label for="content">Содержимое статьи:</label>
        <textarea id="content" name="content" placeholder="Введите текст статьи" required class="text-stat"></textarea>
        <br>
        <!--<button id="submit" class="button-stat">Сохранить статью</button>-->
        <input type="submit" class="new" value="Сохранить статью" />
    </form>
</div>