<!DOCTYPE html>
<html lang="ru">
<%inc
    #include "struct_declaration.hpp"
    #include "System/utils.h"
%>
<%c++
    auto user = @@.get<::User>("User");
    auto items = @@.get<std::vector<aitem>>("aitems");
    auto aside_header = @@.get<std::string>("aside-header");
    auto javascripts = @@.get<std::vector<std::string>>("javascripts");
%> 
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>logMAT - Сайт про алгоритмы</title>
    <link rel="icon" type="image/x-icon" href="favicon.png">
    <link
        href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
        rel="stylesheet"
    />
    <link href="/css/tech.css" rel="stylesheet" />
    <link href="/css/tables.css" rel="stylesheet" />

    <%c++ for(auto& js : javascripts){%>
        <script src="{%js%}"></script>
    <%c++}%>
</head>
<body>

    <header>
        <label id="logo" class="hide-p">    
            <img src="/img/av.png" alt="Логотип logMAT" class="logo-img">
            <p>logMat</p>
            <a href="/">Главная</a>
            <a href="/">О нас</a>
        </label>


        <details class="user-menu">
            
            <summary class="user-name hide-p">
                <!--Avatar-->
                <%c++ if(user.avatar != 0){%>
                    <img src="/api/ref/file/{%user.avatar%}/avatar" alt="Аватар пользователя" class="user-avatar">
                <%c++}else{%>
                    <img src="https://avatars.mds.yandex.net/i?id=9028b32c2dbca7fbe65309f1fb7141cf_l-4957727-images-thumbs&amp;n=13" alt="Аватар пользователя" class="user-avatar">
                <%c++}%>

                <!--Name-->
                <%c++ if(user.username.empty()){%>
                    <p>Гость</p>
                <%c++ }else{%>
                    <p>{%user.username%}</p>
                <%c++}%>

            </summary>
            <ul class="user-menu-list box-decor">
                <%c++ if(user.username.empty()){%>
                    <li><a class="submenu-link" href="/login.html">Вход</a></li>
                    <li><a class="submenu-link" href="/register.html">Регистрация</a></li>
                <%c++ }else{%>
                    <li><a href="/me" class="user-menu-link">Профиль</a></li>
                    <li>
                        <form action="/api/auth/out?redirect=/" method="POST">
                            <input type="submit" class="user-menu-link" value="Выход" />
                        </form>
                    </li>
                <%c++}%>
            </ul>
        </details>
    </header>

    <div class="content">
        <div class="sidemenu box-decor">
            <input type="checkbox" id="menu">
            <label for="menu" id="menu-title">{%aside_header%}</label>
            <%c++ for(auto& item : items){%>
                <%c++ if(item.text != "hr"){%>
                    <a href="{%item.href%}" class="submenu-link {%item.add_class%}" onclick="{%item.onclick%}">
                    <%c++ if(!item.icon.empty()){%>
                        <i class="{%item.icon%}"></i>
                    <%c++}%>
                    {%item.text.c_str()%}
                    </a>
                <%c++}else{%>
                    <hr>
                <%c++}%>
            <%c++}%>
        </div>
        [[]]
    </div>


    <div id="parent_popup" style="display: none;">
        <div id="popup_form">
            <h2 id="popup_form_header"></h2>
            <form id="popup_form_form" class="dialog">
                <!-- <input type=""> -->
            </form>
        </div>
    </div>


    <footer>
        <p>
            @ 2025 logMat.
            <%c++ if(drogon::app().getCustomConfig().isMember("version")){%>
            Версия: {%API::Utils::trim(drogon::app().getCustomConfig()["version"].asString())%}
            <%c++}%>
        </p>
    </footer>
</body>
</html>