/*td p.cropped {*/
    /*    background-color: red;*/
    /*    max-width: calc(var(--parent-width));*/
/*    width: calc(var(--parent-width));
    position: absolute;*/
    /*white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;*/
    /*    word-wrap: break-word;*/
/*}*/

tr.cropped td {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: top;
}

tr:not(.cropped) td {
    vertical-align: top;
    background-color: #c6e3ff;
    color: #080a1b;
    border-color: cornflowerblue;
    border-width: 4px;
}

.button-line {
    width: 100%;
/*    background-color: red;*/
    display: flex;
    gap: 7px;
    padding-bottom: 13px
}

input[type="button"].next, input[type="submit"].next {
    margin-left: auto;
    text-align: right;
}

input[type="button"].previous, input[type="submit"].previous {
    margin-right: auto;
    text-align: left;
}

input[type="button"] {
    border: none;
    outline: none;
    border-radius: 0.4rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    padding: 7px 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

input[type="button"]:hover {
    transition: background-color 0.3s ease, color 0.3s ease;
}

input[type="button"]:disabled {
    color: #d2d5db;
    background: #6c7589;
    cursor: not-allowed;
}

input[type="button"].new:not(:disabled) {
    background-color: #238636;
    color: white;
}
input[type="button"].new:hover:not(:disabled) {
    background-color: #1c6f2d;
}

input[type="button"].delete:not(:disabled), input[type="button"].soft:hover:not(:disabled) {
    background-color: darkred;
    color: white;
}

input[type="button"].soft:not(:disabled) {
    background-color: firebrick;
    color: white;
}

input[type="button"].delete:hover:not(:disabled) {
    background-color: #550000;
}

a.current, a.current:hover {
    background-color: white;
}

#parent_popup {
    background: rgba(0, 0, 0, 0.7);;
    height: 100%;
    /* opacity: 0.9; */
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
    left: 0;
  }
#popup_form {
    background-color: white;
    position: fixed;
    border-radius: 0.5rem;
    top: 100px;
    left: 40%;
    /* color: #f00; */
    padding: 30px;
}

#popup_form_form {
    width: 363px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    border-radius: 7px;

    label {
        font-family: 'Roboto', sans-serif;
    }
}

form input {
    height: 30px;
    border: 1px solid #bdbdbd;
    border-radius: 3px;
    padding-left: 5px;
    font-size: 0.9rem;
}

form input[type="button"], form input[type="submit"] {
    background-color: rgba(0,0,0,0);
    border: 0px;
    height: 40px;
    font-size: 16px;
    width: auto;
    margin-top: 20px;
    padding-left: 0px;
    
    color:rgb(46, 46, 46);
}
form input[type="button"]:hover, form input[type="submit"]:hover {
    /* color:black; */
    text-decoration: underline;
}

form input[type="number"]::-webkit-outer-spin-button,
form input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

form input[type='number'],
form input[type="number"]:hover,
form input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}