/*td p.cropped {*/
    /*    background-color: red;*/
    /*    max-width: calc(var(--parent-width));*/
/*    width: calc(var(--parent-width));
    position: absolute;*/
    /*white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;*/
    /*    word-wrap: break-word;*/
/*}*/

.big-avatar {
    margin-top: 30px;
    width: 128px;
    height: 128px;
}

.img-response {
    position: relative;
    height: min-content;
    
}

.btn-change {
    width: 100px;
    height: 30px;
    margin-left: 15px;
    transition: opacity .3s;
    border: 0;
    border-radius: 3px;
    font-size: 0.9rem;
}

.dialog {
    width: 320px;
    padding: 20px;

    @media (max-width: 600px) {
        padding: 0;
        width: 100%;
    }

    display: flex;
    flex-direction: column;
    gap: 10px;
    h2 {
        padding: 0.7rem 0;
    }
    label {
        margin-top: 0.5rem;
    }

}

tr.cropped td {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: top;
}

tr:not(.cropped) td {
    vertical-align: top;
    background-color: #c6e3ff;
    color: #080a1b;
    border-color: cornflowerblue;
    border-width: 4px;
}

.button-line {
    width: 100%;
/*    background-color: red;*/
    display: flex;
    gap: 7px;
    padding-bottom: 13px;
}

input[type="button"].next, input[type="submit"].next {
    margin-left: auto;
    text-align: right;
}

input[type="button"].previous, input[type="submit"].previous {
    margin-right: auto;
    text-align: left;
}

input[type="button"] {
    border: none;
    outline: none;
    border-radius: 0.4rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    padding: 7px 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

input[type="button"]:hover {
    transition: background-color 0.3s ease, color 0.3s ease;
}

input[type="button"]:disabled {
    color: #d2d5db;
    background: #6c7589;
    cursor: not-allowed;
}

input.new:not(:disabled) {
    background-color: #238636;
    color: white;
}
input.new:hover:not(:disabled) {
    background-color: #1c6f2d;
}

input.delete:not(:disabled), input.soft:hover:not(:disabled) {
    background-color: darkred;
    color: white;
}

input.soft:not(:disabled) {
    background-color: firebrick;
    color: white;
}

input.delete:hover:not(:disabled) {
    background-color: #550000;
}

a.current, a.current:hover {
    background-color: white;
}

#parent_popup {
    background: rgba(0, 0, 0, 0.7);
    height: 100%;
    /* opacity: 0.9; */
    position: fixed;
/*    display: flex;*/
    width: 100%;
    z-index: 100;
    top: 0;
    left: 0;
/*    align-items: center;*/
/*    align-content: center;
    justify-content: center;*/
    overflow: auto;
}
#popup_form {
    position: fixed;
    background-color: var(--block-background-color);
    border-radius: 0.5rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    @media (max-width: 600px) {
        left: 0;
        transform: translateY(-50%);
        width: calc(100% - 60px);
    }

    padding: 30px;
}

#popup_form_form {
    display: flex;
    flex-direction: column;
    gap: 10px;

    border-radius: 7px;

    label {
        font-family: 'Roboto', sans-serif;
    }
}

form.dialog input {
    height: 30px;
    background-color: rgba(0,0,0,0);
    border: 1px solid #bdbdbd;
    border-radius: 3px;
    padding-left: 5px;
    font-size: 0.9rem;
}

form.dialog input[type="button"], form.dialog input[type="submit"] {
/*        background-color: rgba(0,0,0,0);*/
        border: 0px;
        height: 40px;
        font-size: 16px;
        width: auto;
        margin-top: 20px;
        padding-left: 0px;
/*        color: rgb(46, 46, 46);*/
    }
form.dialog input[type="button"]:hover, form.dialog input[type="submit"]:hover {
    /* color:black; */
    text-decoration: underline;
}

form.dialog input[type="number"]::-webkit-outer-spin-button,
form.dialog input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

form.dialog input[type='number'],
form.dialog input[type="number"]:hover,
form.dialog input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}


#div-article {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;

    width: 100%;
}

a.artcile-card {
    text-decoration: none;
    color: var(--additional-font-color);
}

div.artcile-card {
    width: 277px;
    height: 367px;
    background-color: white;
    *:not(img) {
        padding: 0.5rem 1rem;       
    }
}

div.artcile-card:hover {
    background-color:aliceblue;
}

.artcile-card h1 {
    font-weight: bolder;
    font-size: 1.4rem;
    color: var(--additional-font-color);
    padding: 0.3rem 1rem;
}

.artcile-card p {
    display: block; /* or inline-block */
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 3.8em;
    line-height: 1.3em;
}


.artcile-card img {
    width: 100%;
    height: 50%;
    -webkit-clip-path: polygon(0 0, 0 100%, 100% 80%, 100% 0);
    clip-path: polygon(0 0, 0 100%, 100% 80%, 100% 0);
    border-radius: 0.5rem
}

.text-stat {
    background-color: rgba(0,0,0,0);
    font-size: 0.9rem;
    height: 150px;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
}

.wide {
    width: calc(100% - 1.3rem);
    padding: 1.3rem;
}