html {
    --main-background-color: #f3f4f6;
    --block-background-color: #fff;
    --additional-background-color: #e5e7eb;
    --main-font-color: #000;
    --additional-font-color: #374151;
}   

* {
    padding: 0;
    margin: 0;
    color: var(--main-font-color);
    transition: 
        background 0.3s,
        mask 0.3s,
        color 0.3s;
}

.ri-char-font {
    font-family: 'remixicon' !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.banner {
    width: 100%;
    height: min-content;
    background-color: #156bfc;
    margin-bottom: 2rem;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    padding: 1rem 0;
}
.banner h1 {
    color: whitesmoke;
    font-size: 3rem;
}
.banner h2 {
    color: whitesmoke;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#sidemenu-switcher {
    width: 1.7rem;
    height: 1.7rem;
    display: block;
    position: relative;
}
#sidemenu-switcher input {
    display: none;
}
#sidemenu-switcher input, #sidemenu-switcher span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

/*    content: */
/*    background: url(/img/menu-line.svg) no-repeat;*/
    background-size: 1.7rem;
    cursor: pointer;
}


#color-switcher {
    width: 1.5rem;
    height: 1.5rem;
    display: block;
    position: relative;
}
#color-switcher input {
    display: none;
}
#color-switcher input, #color-switcher span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(/img/theme.png) no-repeat;
    background-size: 1.5rem;
    cursor: pointer;
}
#color-switcher input:checked + span {
    background-position: 0 -1.9rem;
}

.main-content {
    background-color: var(--block-background-color);
    width: 100%;
    height: min-content;
}
.padding-content {
    padding: 2rem;
}



body {
    max-width: 1280px;
    background-color: var(--main-background-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: sans-serif;
    margin: 0 auto;
    padding: 0 1rem;
    width: calc(100% - 2rem);
}

.box-decor {
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.sidemenu {
    background-color: var(--additional-background-color);
    padding: 1rem;
    display: block;
    width: 25%;

    height: min-content;
    color: var(--additional-font-color);      
    gap: 20px;
}
.sidemenu #menu {
    display: none;
}
.sidemenu .current, .sidemenu .current:hover {
    background-color: rgba(1, 102, 240, 0.2);
    margin-left: -0.7rem;
    padding-left: 0.7rem;
}
.sidemenu hr {
    border: none;
    height: 1px;
    background-color: darkgray;
}
.sidemenu *:not(i):not(hr) {
    display: block;
    padding: 0.7rem 0;
    color: var(--additional-font-color);
    text-decoration: none;
    border-radius: 0.5rem;
/*    rgba(1, 102, 240, 0.2*/
} 

.notfound {
    width: 100%;
    text-align: center;
}
.notfound h1 {
    font-size: 8rem;
    color: #156bfc;
}
.notfound h2 {
    color: #808080;
}

#menu-title {
    width: 100%;
    font-size: 1rem;
    font-weight: bold;
}

header {
    position: relative;
    padding: 1.5rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header * {
    z-index: 11;
}

header #logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--main-font-color);
/*    padding-left: calc(5.5rem - 1.7rem);*/
}

#logo img {
    width: 2rem;
    height: 2rem;
}


header a {
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: normal;
    color: var(--additional-font-color);
    text-decoration: none;
    padding-left: 0.5rem;
}

.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: block;
}

.menu {
    display: inline;
    position: relative;
    gap: 0.5rem;

}
.user-name {
    color: var(--main-font-color);
}

details summary {
    padding: 0.5rem;
    border-radius: 2rem;
    transition: background-color 0.3s ease;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.mainsidemenu {
    position: absolute;
    left: -1rem;
    background-color: var(--block-background-color);
    min-width: 260px;
    z-index: 10;
    top: -1.3em;
    height: calc(100vh - 8rem);
/*    padding-top: 6rem;*/
    padding: 6rem 1rem 2rem 1rem;
    overflow: auto;
}
@media (max-width: 860px) {
    .mainsidemenu {
        left: -0.7rem;
        padding-left: 0.7rem;
    }
}
@media (min-width: 400px) {
    .mainsidemenu {
        border-radius: 0 0.5rem 0.5rem 0;
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    }
}
@media (max-width: 400px) {
    .mainsidemenu {
        min-width: calc(100vw - 1.7rem);
    }
}
.height-link {
    font-size: 1.25rem;
}
.mainsidemenu *{
    padding-bottom: 0.7rem;
}


.mainsidemenu-summary::before {
    content: "\ef3e";
    font-size: 1.5rem;
}
details[open] summary.mainsidemenu-summary::before {
    content: "\eb99";
}

.menu summary {
    list-style: none;
    cursor: pointer;
    position: relative;
    z-index: 11;
}
.user-menu[open] summary {
    background-color: rgba(1, 102, 240, 0.2);
}
details summary:hover {
    background-color: rgba(1, 102, 240, 0.1);
}


.user-menu-list {
    position: absolute;
    right: 0;
    background-color: var(--block-background-color);
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0.5rem 0;
    min-width: 150px;
    z-index: 10;
    margin-top: 0.5rem;
}

.menu-list li {
    list-style: none;
}
.menu-list li *:not(form) {
    background-color: rgba(0, 0, 0, 0);
    margin: 0;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease;
    border-radius: 0.5rem;
    text-align: left;
    font-family: sans-serif;
}
.menu-list li *:not(.height-link) {
    font-size: 1rem;
}

.menu-list li *:hover {
    background-color: rgba(1, 102, 240, 0.1);
}

.user-menu-link {
    display: block;
    padding: 0.5rem 1rem;
    border: none;
    color: var(--additional-font-color);
    text-decoration: none;
    transition: background-color 0.3s ease;
    border-radius: 0.5rem;
}

.content {
    display: flex;
    width: 100%;
    gap: 1rem;
}

footer {
    width: 100%;
    opacity: 0.375;

    color: #aaa;
    font-size: 0.8rem;
    text-align: center;

    margin-top: auto;
    padding: 1.5rem 0 0.8rem 0;
}

.row-cont {
    display: flex;
    gap: 20px;
}

@media (max-width: 860px) {

    .content {
        flex-wrap: wrap;
    }

    body {
        flex-wrap: wrap;
        padding: 0 0.7rem;
        width: calc(100% - 1.4rem);
    }

    #menu-title::after {
        font-family: 'remixicon' !important;
        font-style: normal;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: 1.2rem;
        font-weight: normal;
        text-align: right;
        float: right;
        content: "\ea54";
        color: var(--additional-font-color);
    }
    .sidemenu {
        width: 100%;
    }

    .sidemenu *:not(#menu-title):not(i) {
        display: none;
    }

    .sidemenu input:checked ~ *:not(#menu-title):not(i) {
        display: block;
    }

    .sidemenu input:checked ~ #menu-title::after {
        transform: rotate(90deg);
    }
}

@media (max-width: 600px) {
    body {
        width: calc(100% - 1.4rem);
    }

    .hide-p p {
        display: none;
    }

/*    details summary {
        padding-right: 1rem;
    }*/

    .row-cont {
        flex-direction: column;
    }
}